h3 {
    padding: 10px;
    margin: 10px;
    line-height: 50px;
}

h1 {
    font-size: larger;
    font-family: "AlexBrush", sans-serif;
    font-weight: 0;
    color:blue;
    text-decoration: underline;
}

ol {
    background-color:lightblue;
    border-style: dotted;
    border-width: 2px;
    border-color: azure;
    border-radius: 100px;
    padding: 5% 10% 5% 10%;

}

ul {
    background-image:url("images/minion_2.webp");
    background-repeat: repeat;
    background-position: top;
    border-style: dashed;
    border-width: 3px;
}

@font-face {
    font-family:"AlexBrush" ;
    src: url("./AlexBrush-Regular.ttf"),
    url("./AlexBrush-Regular.ttf");
}

.minion{
    background-color: yellow;
}



